body{
	margin: 0;
	background-color:#f5f5f5
}
.testimonials-section{
	background-color:#f5f5f5;
	padding: 40px, 20px;
}
.testimonials{
	background-color: white;
	padding: 20px;
	border: 1px solid white;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.95);
	max-width: 500px;
}
.author{
	font-style: italic;
	text-align: right;
}

